<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PostgreCommerce</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">PostgreCommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/productosWeb}">Lista de productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/categoriasWeb}">Lista de categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/pedidosWeb}">Lista de pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/usersWeb}">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/swagger-ui/index.html}">Swagger</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br /><br />


<div class="container">
  <div class="row justify-content-center">
    <div id="detalles_categorias" class="text-center mt-0 p-0 col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-11 mt-0">
      <table class="table table-bordered table-hover text-center" style="margin-center: 0px; margin-top: 0px;">
        <thead>
        <tr>
          <th style="width: 40px; text-align: center; vertical-align: middle;">ID</th>
          <th style="width: 180px; text-align: center; vertical-align: middle;">Categoria</th>
          <th style="width: 180px; text-align: center; vertical-align: middle;">Descripcion</th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script th:src="@{/scripts.js}"></script>
<script th:src="@{/categorias.js}"></script>
</body>
</html>